:root {
    /*  modular scale */
    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio)); /* 1*1.5*1.5 */
    --s3: calc(var(--s2) * var(--ratio)); /*1*1.5*1.5*1.5  */
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

    /* CSS variables */
    --primary: #050505;
    --background: #fafafa;
    --background-secondary: #ebebeb;
}

h1, h2, h3, p {
    color: var(--primary);
}

h1 {
    font-size: var(--s3);
}

h2 {
    font-size: var(--s2);
}

h3 {
    font-size: var(--s1);
}

p {
    font-size: var(--s0);
}